/* {
    padding: 0px;
    margin: 0;
}*/

#foto-perfil {
    width: 225px;
   
    padding: 5px;
    background: slategray;
    border-radius: 5px;
    margin-bottom: 40px;
}

#foto-perfil:hover {
    border: 5px solid slategray;
}
body {
    background: deepskyblue;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}



.nome {
    font-family: sans-serif;
}

.description {
    position: absolute;
    margin-top: -215px;
    margin-left: 250px;
}

ul > li:nth-child(odd) {
    font-weight: 600;
}